{% extends 'base.html' %} {% block title %}Subjects - EduQuests{% endblock %} 
{%block main_content %}
<h1>{{ subject.name }}</h1>
<p>{{ subject.description }}</p>
<hr>
{% for level in levels %}
<div>
    <h2>
        Level {{ level.level_number }}
    </h2>
    <h3>
        {{ level.title }}
    </h3>
    <p>
        {{ level.description }}
    </p>
    <p>
        XP Reward: {{ level.xp_reward }}
    </p>
    <a href="#">
        Start Quiz
    </a>
</div>
<hr>
{% empty %}
<p>No levels found.</p>
{% endfor %}
{% endblock %}
    